{#
/**
 * Layout provider: page-layout
 * Template suggestion: page
 * Theme: etna
 * Generated on: Tue, 09 Jan 18 03:26:04 +0000
 */
#}
{{ attach_library('etna/etna.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
