/**
 * @file
 * Overall specifications for Etnagigante.
 */
body {
    font-family: 'Roboto', sans-serif !important;

}

img {
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
}

body a {
    color: #E32421;
}

body a:hover, a:focus {
    color: #E32421;

}

/*
article.embedded-entity a {
    color: #000000;
    font-weight: bold;
}*/
