/**
*  Ajustes de estilo al plugin fullPage
*
 */
.fp-controlArrow.fp-prev {
    border-right-color: #E32421;
    border-width: 15.5px 22px 15.5px 0;

}

.fp-controlArrow.fp-next {
    border-left-color: #E32421;
    border-width: 15.5px 0  15.5px 22px;

}

#page-contact {
    padding-bottom: 0 !important;
}
