
.sidebar-right {
    margin-right: 15px;
    padding-top: 15px;
    background-color: #eae9d0;
    border-radius: 10px;
    height: 90%;
}


/* Responsive */

@media screen and (min-width: 992px) {
  /*  .sidebar-right {
        margin-top: 30px;
    }*/
}